* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.grid {
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0);
  font-size: small;
  color: rgba(0, 0, 0, 0.8);
}

.cell:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.row {
}

.row:first-child > .cell {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.ship {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.hit {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hit::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
}

.miss {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miss::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(0, 0, 255);
}
